name: Lint

on:
  workflow_call:
    inputs:
      go-version:
        default: "1.19.10"
        required: false
        type: string
jobs:
  lint:
    name: Run Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ inputs.go-version }}
      - name: Lint
        run: make install && make lint
