name: Unit Test

on:
  workflow_call:
    inputs:
      go-version:
        default: "1.19"
        required: false
        type: string
        stable: false
    secrets:
      FLYTE_BOT_PAT:
        required: true
jobs:
  tests:
    name: Run Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ inputs.go-version }}
      - name: Unit Tests
        env:
          GITHUB_TOKEN: ${{ secrets.FLYTE_BOT_PAT }}
        run: make install && make test_unit_codecov
      - name: Push CodeCov
        uses: codecov/codecov-action@v3.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.FLYTE_BOT_PAT }}        
        with:
          file: coverage.txt
          flags: unittests
          fail_ci_if_error: false
